<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/dropzone-5.7.0/dist/dropzone.css" />
    <link rel="stylesheet" href="/css/my_dropzone.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="upload_form">
      <form action="upload" method="POST" class="dropzone" id="form1">
        <div class="fallback">
          <input name="file" type="file" multiple />
          <input type="submit" value="Upload" />
        </div>
      </form>
    </div>
  </body>
  <script src="/dropzone-5.7.0/dist/dropzone.js"></script>
  <script src="/js/my_dropzone.js"></script>
</html>
